{% load static %}

 <!--widget-latest-posts-->
 <div class="widget ">
    <div class="section-title">
        <h5>نوشته های اخیر</h5>
    </div>
    <ul class="widget-latest-posts">
        {% for article in latest_articles %}
        <li class="last-post">
            <div class="image">
                <a href="{% url "blog:article_detail" article.slug %}">
                    <img src="{{article.image.url}}" alt="...">
                </a>
            </div>
            <div class="content">
                <p>
                    <a href="{% url "blog:article_detail" article.slug %}">{{article.title}}</a>
                </p>
                <small>
                    <span class="icon_clock_alt"></span>{{article.created}}</small>
            </div>
        </li>
        {% endfor %}
        
    </ul>
</div>
<!--/-->

<!--widget-categories-->
<div class="widget">
    <div class="section-title">
        <h5>دسته بندیها</h5>
    </div>
    <ul class="widget-categories">
        {% for category in categories %}
        <li>
            <a href="{% url "blog:category_article" category.slug %}" class="categorie">{{category.title}} </a>
            <span class="ml-auto">{{category.articles.count}} مقاله </span>
        </li>
        {% endfor %}
    </ul>
</div>
<!--/-->



<!--widget-tags-->
<div class="widget">
    <div class="section-title">
        <h5>برچسب ها</h5>
    </div>
    <div class="widget-tags">
        <ul class="list-inline">
            {% for tag in tags %}
                <li>
                    <a href="{% url "blog:tag_article" tag.slug %}">{{tag.title}}</a>
                </li>
            {% endfor %}

        </ul>
    </div>
</div>
<!--/-->
