{% extends "base.html" %}
{% load static %}
{% block title %}مقالات noonpost{% endblock title %}

{% block context %}

<!--carousel-hero-->
<section class="section carousel-hero">
    <div class="owl-carousel">
        {% for article in popular_articles %}
        
        <div class="hero d-flex align-items-center " style="background-image: url({{article.image.url}})">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                        <div class="hero-content">
                            {% for category in article.category.all %}
                            
                            <a href="{% url "blog:category_article" category.slug %}" class="categorie">{{category.title}}</a>
                            
                            {% endfor %}
                            <h2>
                                <a href="{% url "blog:article_detail" article.slug %}">{{article.title}}</a>
                            </h2>
        
                            <div class="post-card-info">
                                <ul class="list-inline">
                                    <li class="dot"></li>
                                    <li>{{article.author.first_name}} {{article.author.last_name}}</li>
                                    <li class="dot"></li>
                                    <li>{{article.updated}} </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
</section>
<!--/-->

<!--masonry-layout-->
<section class="mt-40 masonry-layout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                
                <div class="card-columns">  
                   {% for article in latest_articles %}
                   
                    <div class="card">
                        <div class="post-card">
                            <div class="post-card-image">
                                <a href="post-default.html">
                                <img style="width: 345px" src='{{article.image.url}}' alt="">
                                </a>
                            
                            </div>
                            <div class="post-card-content">
                                {% for category in article.category.all %}
                                <a href="{% url "blog:category_article" category.slug %}" class="categorie">{{category.title}}</a>
                                {% endfor %}
                                <h5>
                                    <a href="{% url "blog:article_detail" article.slug %}">{{article.title}}</a>
                                </h5>
                                <p>{{article.description|truncatewords:15}}</p>
                                <div class="post-card-info">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="author.html">
                                                <img src={% static "img/author/1.jpg" %} alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <p>{{article.author.first_name}} {{article.author.last_name}}</p>
                                        </li>
                                        <li class="dot"></li>
                                        <li>{{article.updated}} </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--/-->
{% endblock context %}
